@import 'variables';

.flh5p-endscreen {

  &__steps {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    position: relative;
    margin: $spacing-3 auto;
  }

  &__step {
    position: relative;
    flex: 0 0 88px;
    height: 88px;
    color: $white;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 0 $spacing-2;

    img {
      width: 100%;
      height: auto;
      display: block;
      vertical-align: middle;
    }
    &:after {
      content: "";
      background-image: url('assets/images/completed-star.svg') !important;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 95%;
      display: block;
      width: 36px;
      height: 36px;
      position: absolute;
      bottom: -36px;
      left: 50%;
      margin-left: -18px;
    }
  }

  &__feedback {
    max-width: 1096px;
    width: 95%;
    min-height: 200px;
    padding: $spacing-8;
    position: relative;
    display: flex;
    margin: 80px auto;
    border-radius: $spacing-2;
    background-color: $white;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
    @media (max-width: 1080px) {
      border-radius: 0;

    }

    &__title {
      font-size: 24px;
      text-align: center;
      display: block;
      flex: 1 0 100%;
      margin-bottom: $spacing-5;
    }

    .flh5p-button {
      border: 1px solid $ui-peach;
      background: transparent;
      font-weight: 600;
      font-family: $font-family;
      padding: 10px 16px;
      margin: 0 $spacing;
      color: $text-default;
      text-decoration: none;
      border-radius: 100px;

      &--home {
        background: $ui-peach;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__recommendations {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: $spacing-8;
    margin-bottom: $spacing-8;
    justify-content: center;
    max-width: 1200px;
  }

  &__card {
    flex: 0 0 296px;
    display: inline-flex;
    height: 362px;
    max-width: 296px;
    overflow: hidden;
    flex-wrap: wrap;
    border: 1px solid #DADCE7;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(85, 96, 138, 0.08);
    border-radius: 10px;
    margin: $spacing-2;

    &__link {
      width: 100%;
      color: $text-default;
      text-decoration: none;
    }

    &__image {
      height: 164px;
      flex: 1 0 100%;
      overflow: hidden;
      background-position: center;
      background-size: cover;
      border-bottom: 1px solid #E5E5E5;
    }

    &__title {
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      flex: 1 1 100%;
      margin: $spacing-2;
    }

    &__description {
      flex: 1;
      text-align: center;
      margin: $spacing-2;
      height: 90px;
    }
  }
}
