@import 'variables';

.flh5p-question-wrapper {
  &__modal {
    background: $white;
    padding: $spacing-3;
    max-width: 1096px;
    box-shadow: 0px 4px 15px rgba(24, 27, 94, 0.07);
    border-radius: $spacing-2;
    position: relative;
    height: calc(100% - 96px);
    margin: $spacing-6 auto;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: all ease 0.5s;

    // Override dark bg from Spell the Word
    .flh5p-app {
      background: $white;
    }

    @media (max-width: 980px) {
      border-radius: 0;
      box-shadow: none;
      padding: 0;
      margin: 0;
      height: 100%;
    }

    &__bottombar {
      height: 64px;
      box-sizing: border-box;
      text-align: center;

      button {
        font-family: $font-family;
        &:hover {
          cursor: pointer;
          box-shadow: 0px 4px 10px rgba(255, 142, 106, 0.3);
          text-decoration: none;
        }
      }

      .flh5p-button {
        &--next {
          flex: 0 0 140px;
          height: 48px;
          border: 1px solid $ui-peach;
          background: $ui-peach;
          border-radius: 100px;
          box-sizing: border-box;
          display: none;
          font-weight: 600;
          vertical-align: middle;
          margin-right: $spacing-2;
          padding: 0 $spacing-2;

          &:after {
            content: "";
            width: 24px;
            height: 24px;
            background-image: url('assets/images/thumb-up.svg');
            background-repeat: no-repeat;
            background-size: 95%;
            background-position: center;
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;
          }
        }

        &--step-restart {
          flex: 0 0 140px;
          height: 48px;
          border: 1px solid $ui-peach;
          background: $white;
          border-radius: 100px;
          box-sizing: border-box;
          display: none;
          font-weight: 600;
          vertical-align: middle;
          padding: 0 $spacing-2;

          &:after {
            content: "";
            width: 24px;
            height: 24px;
            background-image: url('assets/images/refresh.svg');
            background-repeat: no-repeat;
            background-size: 95%;
            background-position: center;
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
