$font-family: 'Noto Sans', sans-serif;

$header-colour: #D4F2EF;
$background-color: #F8F8FB;
$hover-color: #F6F7FF;
$white: #fff;
$border-color: #DADCE7;

$ui-peach: #FF8E6A;
$ui-blue: #0E7EA1;

$text-default: #040214;
$text-light: #6E7390;
$text-lighter: #515672;
$text-ui2: #525464;

// Font sizes
$font-size-small: 12px;
$font-size-default: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-larger: 20px;
$font-size-largest: 24px;
$font-size-massive: 32px;
// Spacing values
$spacing: 8px;

$spacing-2: $spacing * 2;
$spacing-3: $spacing * 3;
$spacing-4: $spacing * 4;
$spacing-5: $spacing * 5;
$spacing-6: $spacing * 6;
$spacing-7: $spacing * 7;
$spacing-8: $spacing * 8;
$spacing-9: $spacing * 9;
$spacing-10: $spacing * 10;
$spacing-11: $spacing * 11;
$spacing-12: $spacing * 12;
