.flh5p-app {
  background-color: #1F2B52;
  min-height: 200px;
  font-family: 'Noto Sans', sans-serif;
  width: 100%;
  height: 620px;

  &--step-open {
    .flh5p-app__header {
      display: none;
    }

    .flh5p-steps {
      display: none;
    }
    .flh5p-question-wrapper {
      height: 100vh;
      display: block;
      background: #fff;
    }
  }

  &__header {
    padding: 24px;
    line-height: 24px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    justify-content: space-between;
    h2, h3 {
      color: inherit;
    }

    .flh5p-button {
      background: transparent;
      border: none;
      color: #fff;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}


.flh5p-question-wrapper {
  height: auto;
  overflow: hidden;
  display: none;
  padding: 24px;

  &__header {
    text-align: right;
    .flh5p-button {
      background: transparent;
      border: none;
      color: #222;
      padding: 8px 16px;
      display: inline-block;
      border-radius: 100px;
      font-family: 'Noto Sans', sans-serif;
      font-size: 16px;
      line-height: 22px;
      font-weight: 600;
      margin-left: 16px;
      &:hover {
        cursor: pointer;
      }

      &--close, &--next {
        &:after {
          padding-left: 8px;
          font-family: 'H5PFontAwesome4';
          font-size: 24px;
          vertical-align: middle;
        }
      }

      &--close {
        &:after {
          content: "\f057";
          width: 24px;
          height: 24px;
        }
      }

      &--next {
        &:after {
          content: "\f087";
          width: 24px;
          height: 24px;
        }
      }

      &--action {
        background-color: #FF8E6A;
      }
    }
  }
}

.flh5p-steps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flh5p-question-instance {
  height: 100%;
}

.flh5p-task {
  min-height: 100%;
  position: relative;
  iframe {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    // height: 100% !important;
  }
}
