@import 'variables';
@import 'layout';
@import 'endscreen';

.flh5p-app {
  background-color: #1F2B52;
  min-height: 200px;
  font-family: $font-family;
  width: 100%;
  min-height: 90vh;
  height: auto;
  overflow: hidden;

  &--step-open {
    .flh5p-app__header {
      // display: none;
    }

    .flh5p-steps {
      // display: none;
    }
    .flh5p-question-wrapper {
      opacity: 1;
      visibility: visible;
      height: 95%;
      overflow: auto;
      z-index: 10;
      pointer-events: auto;

      &__modal {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
      }
      // background: #fff;
    }
  }

  &__header {
    padding: 24px;
    line-height: 24px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    h2, h3 {
      color: inherit;
    }

    .flh5p-button {
      &--home {
        width: 56px;
        height: 56px;
        box-sizing: border-box;
        background: $ui-peach;
        border-radius: 100%;
        background-image: url('assets/images/home.svg');
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: center;
        border: none;
        outline: none;
        margin-right: $spacing-4;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}


.flh5p-question-wrapper {
  height: auto;
  overflow: hidden;
  display: block;
  padding: 24px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(31, 43, 82, 0.96);
  transition: all ease 0.5s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: -1;

  &__modal {
    background: $white;
    padding: $spacing-3;
    max-width: 1096px;
    box-shadow: 0px 4px 15px rgba(24, 27, 94, 0.07);
    border-radius: $spacing-2;
    position: relative;
    height: calc(100% - 96px);
    margin: $spacing-6 auto;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: all ease 0.5s;

    // Override dark bg from Spell the Word
    .flh5p-app {
      background: $white;
    }

    &__bottombar {
      height: 64px;
      box-sizing: border-box;
      text-align: center;

      .flh5p-button {
        &--next {
          background: $ui-peach;

          &:after {
            content: "";
            background-image: url('assets/images/thumb-up.svg');
            background-repeat: no-repeat;
            background-position: center right;
            width: 40px;
            height: 22px;
            padding-left: 24px;
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
          }
        }

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  &__header {
    // text-align: right;
    font-family: $font-family;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // Number indicator in header
    .flh5p-modal-number {
      width: 48px;
      height: 48px;
      flex: 0 0 48px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      &--1 {
        background-image: url('assets/images/1.svg');
      }

      &--2 {
        background-image: url('assets/images/2.svg');
      }

      &--3 {
        background-image: url('assets/images/3.svg');
      }

      &--4 {
        background-image: url('assets/images/4.svg');
      }
    }

    // Step icon if available
    .flh5p-modal-stepicon {
      flex: 0 0 120px;
      height: 100px;
      background-image: url('assets/images/modal-step-bg.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      img {
        width: 73px;
        display: block;
        position: relative;
        margin: $spacing auto;
      }
    }

    // Next button
    .flh5p-modal__next {
      flex: 0 0 120px;
      height: 48px;
      border: 1px solid $ui-peach;
      background: transparent;
      border-radius: 100px;
      &:after {
        content: "Icon";
        width: 24px;
        height: 24px;
      }
    }

    .flh5p-button {
      &:hover {
        cursor: pointer;
      }

      &--close {
        position: absolute;
        top: -24px;
        right: -24px;
        width: 64px;
        height: 64px;
        background: #0E7EA1;
        box-sizing: border-box;
        background-image: url('assets/images/close.svg');
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        outline: none;
        border-radius: 100%;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);

        &:hover {
          cursor: pointer;
          box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.52);
          background-color: darken(#0E7EA1, 2);
        }
      }

      &--action {
        background-color: #FF8E6A;
      }
    }
  }

  .flh5p-button {
    font-size: 16px;
    line-height: 22px;
    padding: 10px $spacing-2;
    font-family: $font-family;
    border-radius: 100px;
    border: none;
    font-weight: 600;
  }

}

.flh5p-steps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 100px;
  @media (max-width: 980px) {
    padding-top: $spacing-5;
    flex-direction: column;
    .flh5p-step {
      flex: 0 0 280px;
      width: 100%;
    }
  }
}

.flh5p-question-instance {
  height: 100%;
}

.flh5p-task {
  height: calc(95% - 100px);
  overflow: auto;
  position: relative;
  margin: $spacing-3 auto;
  iframe {
    width: 100% !important;
    max-width: 600px;
    margin: 24px auto;
    height: 100% !important;
    position: absolute;
    right: 0;
    left: 0;
    // height: 100% !important;
  }
  &.h5p-text {
    padding: $spacing-3;
    display: block;
    max-width: 520px;
    position: relative;
    margin: $spacing-3 auto;
  }
}
