@import '../../scss/variables';

.flh5p-draggable {
  width: 48px;
  height: 48px;
  flex: 0 0 48px;
  margin-right: 8px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(24, 27, 94, 0.07);
  font-size: 18px;
  line-height: 48px;
  font-weight: 600;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background: $ui-peach;
  color: $text-default;
  text-align: center;

  &:active, &:hover {
    cursor: move;
  }
}
