@import 'scss/variables';
@import 'scss/fonts';

.flh5p {
  &-app {
    padding: $spacing-2;
    font-family: $font-family;
    color: $text-default;

    .h5p-joubelui-progressbar {
      height: 12px;
      border-radius: 100px;
      background: #D4F2EF;
      box-shadow: none;
      height: 12px;
      margin-top: $spacing-2;
      .h5p-joubelui-progressbar-background {
        border-radius: inherit;
        background: #2DC08B;
      }
    }
    button {
      font-family: $font-family;
      background: transparent;
      height: 48px;
      padding: $spacing $spacing-2;
      box-sizing: border-box;
      border: 1px solid $ui-peach;
      border-radius: 100px;
      color: $text-default;
      font-weight: 600;
      font-size: 16px;

      &:after, &:before {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: no-repeat center center;
        background-size: 90%;
        vertical-align: middle;
        padding-right: 0;
      }

      &:after {
        margin-left: $spacing;
      }

      &:before {
        margin-right: $spacing;
      }

      &:hover, &:focus, &:active {
        cursor: pointer;
        box-shadow: 0px 4px 10px rgba(255, 142, 106, 0.3);
        background: inherit;
        color: $text-default;
      }

      &.flh5p-nav-button--next {
        &:after {
          background-image: url('assets/images/arrow-narrow-right.svg');
          content: "";
        }
      }
      &.flh5p-nav-button--prev {
        &:before {
          background-image: url('assets/images/arrow-narrow-left.svg');
          content: "";
        }
      }

      &.flh5p-button--score {
        background-color: $ui-peach;
        &:after {
          background-image: url('assets/images/check.svg');
          content: "";
        }
      }

      &.flh5p-button--reset {
        &:after {
          background-image: url('assets/images/refresh.svg');
          content: "";
        }
      }
    }
  }

  &-letters {
    &__dropzone, &__dragzone {
      display: inline-flex;
      flex-wrap: nowrap;
      width: auto;
      margin: 8px auto;
      flex: 1 0 100%;
      justify-content: center;
    }

    &__dragzone {
      margin-top: 32px;
    }
  }

  &-words {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: $spacing-3 0;
    position: relative;
    min-height: 580px;
  }

  &-footer {
    padding: $spacing-3 0;
    border-top: 1px solid $border-color;
  }

  &-navigation {
    display: block;
    height: 88px;
    line-height: 88px;
    position: relative;
  }

  &-nav-button {
    // position: absolute;
    // z-index: 3;

    &--prev {
      left: $spacing;
      float: left;
    }

    &--next {
      right: $spacing;
      float: right;
    }
  }

  &-scorebar {
    padding: $spacing-3 0;

    &--hidden {
      visibility: hidden;
      display: none;
    }
  }
}
