@import '../../scss/variables';

.flh5p-droppable {
  width: 48px;
  height: 48px;
  flex: 0 0 48px;
  margin-right: 8px;
  border-radius: 8px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(24, 27, 94, 0.07);
  border: 1px solid #e7e7e7;
  font-size: 18px;
  line-height: 48px;
  font-weight: 600;

  // States for score
  &.h5p-correct {
    border: none;
    box-shadow: none;
    background-color: #b6e4ce;
    border-color: #b6e4ce;
    color: #255c41;
    &:after {
      content: "\f00c";
      background: #b6e4ce;
      color: #255c41;
    }
    > div, > span {
      background-color: #b6e4ce;
      border-color: #b6e4ce;
      color: #255c41;
      box-shadow: 0 0.1em 0 #a2bdb0;
    }
  }

  &.h5p-wrong {
    color: #b71c1c;
    background: #fbd7d8;
    border-color: #fbd7d8;
    box-shadow: 0 0.1em 0 #deb8b8;
    &:after {
      content: "\f00d";
    }
    > div, > span {
      color: #b71c1c;
      background: #fbd7d8;
      border-color: #fbd7d8;
      box-shadow: 0 0.1em 0 #deb8b8;
    }
  }
  
  &.h5p-wrong, &.h5p-correct {
    position: relative;
    &:after {
      font-family: 'H5PFontAwesome4';
      font-size: .75em;
      font-weight: 400;
      position: absolute;
      right: .1em;
      bottom: 0;
      background: inherit;
      border-radius: .25em;
      line-height: 1;
      padding: .15em 0 0 .2em;
    }
  }
}
