@import '../../scss/variables';

.flh5p-droppable {
  width: 48px;
  height: 48px;
  flex: 0 0 48px;
  margin-right: 8px;
  // box-shadow: 0px 4px 8px rgba(24, 27, 94, 0.07);
  // border: 1px solid #e7e7e7;
  font-size: 18px;
  line-height: 48px;
  font-weight: 600;
  background: #FFFFFF;
  border: 2px dashed #DADCE7;
  border-radius: 4px;

  &.contains-draggable {
    border-color: $ui-peach;

    .flh5p-draggable {
      background: transparent;
      box-shadow: none;
    }
  }

  // States for score
  &.h5p-correct {
    border: none;
    box-shadow: none;
    background-color: #8DDFC2;
    border-color: #8DDFC2;
    color: $text-default;
    &:after {
      content: "\f00c";
      background: #b6e4ce;
      color: $text-default;
    }
    > div, > span {
      background-color: #b6e4ce;
      border-color: #b6e4ce;
      color: #255c41;
      box-shadow: 0 0.1em 0 #a2bdb0;
    }
  }

  &.h5p-wrong {
    color: $text-default;
    background: #FFC0C0;
    border-color: #FFC0C0;
    box-shadow: 0 0.1em 0 #deb8b8;
    border: none;
    &:after {
      content: "\f00d";
    }
    > div, > span {
      color: $text-default;
      background: #FFC0C0;
      border-color: #FFC0C0;
      box-shadow: 0 0.1em 0 #deb8b8;
    }
  }

  &.h5p-wrong, &.h5p-correct {
    position: relative;
    &:after {
      font-family: 'H5PFontAwesome4';
      font-size: .75em;
      font-weight: 400;
      position: absolute;
      right: .1em;
      bottom: 0;
      background: inherit;
      border-radius: .25em;
      line-height: 1;
      padding: .15em 0 0 .2em;
    }
  }
}
